<% content_for :js do %>
<script type="text/javascript">
$(document).ready(function(){
	$("#schedule_teacher").select2({
    	placeholder: "Выберите преподователя",
    	allowClear: true,
    	width: 'off'
  	});
  	$("#schedule_subject").select2({
    	placeholder: "Выберите предмет",
    	allowClear: true,
    	width: 'off'
  	});
  	$("#schedule_group").select2({
    	placeholder: "Выберите группу",
    	allowClear: true,
    	width: 'resolve'
  	});
});
</script>
<% end %>
<h1>Новое занятие</h1>

<%= render 'form' %>

<%= link_to 'Back', schedules_path %>
